<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - MiniMax</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <style>
        body {
            background: #181716;
        }

        ul li a {
            color: white !important;
            opacity: 1 !important;
            transition: all 0.5s;
        }

        li a:hover {
            color: white !important;
            transform: scale(1.3);
        }

        .heder a:hover {
            color: white !important;
        }

        .heder {
            background: #00800D;
            border: none;
            height: 55px
        }

        .heder a {
            font-weight: bold;
        }
    </style>
    <div class="navbar navbar-inverse navbar-fixed-top heder">
        <div class="container">
            <div class="navbar-header">
                @Html.ActionLink("MiniMax Forum", "Index", "Korisnik", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Početna", "Index", "Korisnik")</li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    @{ 
                        Forum.Models.Korisnik korisnik = Session["korisnik"] as Forum.Models.Korisnik;
                        if (korisnik != null)
                        {
                          <li>@Html.ActionLink("Promeni lozinku", "Izmena", "Korisnik", new { id = korisnik.Id }, null)</li> 
                            if (korisnik.Tip_korisnika == "admin")
                            {
                                 <li>@Html.ActionLink("Promovisi moderatora", "Promovisi", "Korisnik")</li> 
                                 <li>@Html.ActionLink("Napravi podforum", "NapraviPodforum", "Korisnik")</li> 
                            }
                          <li>@Html.ActionLink("Izloguj se", "IzlogujSe", "Korisnik")</li> 
                        }
                        else
                        {
                          <li>@Html.ActionLink("Uloguj se", "Login", "Korisnik")</li>
                          <li>@Html.ActionLink("Registruj se", "Registracija", "Korisnik")</li> 
                        } 
                    }
                </ul>
            </div>
        </div>
    </div>
    <div>
        @RenderBody()
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>