<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - MiniMax</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <style>
      

        ul li a {
            color: black !important;
            opacity: 1 !important;
            transition: all 0.5s;
        }

        li a:hover {
            color: black !important;
            transform: scale(1.3);
        }

        .heder a:hover {
            color: black !important;
        }

        .heder {
            background: #363636;
            background-image: linear-gradient(180deg, white,white,white,white,white,white,#222);
            border: none;
            height: 55px
        }
    </style>
    <div class="navbar navbar-inverse navbar-fixed-top heder">
        <div class="container">
            <div class="navbar-header">
                @Html.ActionLink("MiniMax Forum", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    @{
                        Forum.Models.Korisnik korisnik = Session["korisnik"] as Forum.Models.Korisnik;

                        if (korisnik != null)
                        {
                            <li class="navbar-text">Zdravo, @korisnik.korisnickoime</li>
                            <li>@Html.ActionLink("Izloguj se", "IzlogujSe", "Korisnik")</li>
                            <li>@Html.ActionLink("Promeni lozinku", "Izmena", new { id = korisnik.id }))</li>

                            if (korisnik.tip_korisnika == "admin")
                            {
                                <li>@Html.ActionLink("Promovisi moderatora", "Promovisi", "Korisnik")</li>
                            }
                        }
                        else
                        {
                            <li>@Html.ActionLink("Loguj se", "Login", "Korisnik")</li>
                            <li>@Html.ActionLink("Registruj se", "Registracija", "Korisnik")</li>
                        }
                    }
                </ul>
            </div>
        </div>
    </div>
    <div>
        @RenderBody()
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
